<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>MyPage</servlet-name>
  	<display-name>MyPage</display-name>
  	<description></description>
  	<servlet-class>servlet.MyPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClinicService</servlet-name>
  	<display-name>ClinicService</display-name>
  	<description></description>
  	<servlet-class>servlet.ClinicService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlterMailDeliveryPermission</servlet-name>
  	<display-name>AlterMailDeliveryPermission</display-name>
  	<description></description>
  	<servlet-class>servlet.AlterMailDeliveryPermission</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MyPage</servlet-name>
  	<url-pattern>/MyPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClinicService</servlet-name>
  	<url-pattern>/ClinicService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlterMailDeliveryPermission</servlet-name>
  	<url-pattern>/AlterMailDeliveryPermission</url-pattern>
  </servlet-mapping>
</web-app>
